body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.search-container {
    text-align: right;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    box-sizing: border-box;
    transition: width 0.3s ease-in-out;
}

.search-container input[type="text"]:focus {
    width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
}

.action-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.action-buttons button:hover {
    color: #007bff;
}

.update-form {
    display: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.update-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.update-form input {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.update-form button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-form button:hover {
    background-color: #0056b3;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .search-container input[type="text"] {
        width: 100%;
    }

    .update-form input {
        width: calc(100% - 22px); /* Subtracting padding and border width */
    }
}
